*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-size: 100%;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: fixed;
    z-index: 999;
  }
  
  .header_active{
    text-decoration: underline;
  }

  .navbar li{
    list-style: none;
    display: inline-block;
    margin: 20px;
  }
  
  .navbar li a{
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
  }
  
  .navbar li a:hover{
    text-decoration: underline;
  }
  
  section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    display: none;
  }
  
  h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
  }
  
  #home{
    background-image: url("https://drive.google.com/uc?export=view&id=1uZAIVMMWn6b5_Fat735jAhpFv4ijqAMy");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }
  
  #home img{
    border-radius: 50%;
    float: left;
    max-width:20%;
    height:auto;
    margin-top: 13vh;
    margin-left: 15%;
    transform: translateX(-15%);
  }
  
  #about{
    background-color: #494949;
    padding: 100px;
  }
  
  .title{
    width: 100%;
    text-align: center;
    height: 15%;
  }
  
  .title h3{
    position: relative;
    color: #00bcd4;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Righteous', cursive;
  }
  
  .title h3::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: white;
  }
  
  .title p{
    max-width: 500px;
    display: inline-block;
    color: white;
  }
  
  .about_content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    height: 85%;
  }
  
  .about_content .textbx{
    min-width: 49%;
    width: 49%;
    overflow: auto;
  }
  
  .about_content .textbx p{
    color: white;
  }
  
  .about_content .imgbx{
    margin-left: 40px;
  }
  
  .about_content .imgbx img{
    color: white;
     max-width: 100%;
  }
  
  #contact{
    background-color: #DDDDDD;
    padding: 100px;
    font-family: 'Poppins',sans-serif;
    width: 100%;
  }
  
  .max-width{
    width: 100%;
    height: 100%;
  }
  
  .contacttable {
      width: 100%;
      height: 50%;
      padding: 2%;
  }
  
  .contacttable input {
      border-radius: 10%;
      width: 100%;
      height: 75%;
  }
  
  textarea {
      width: 100%;
      height: 100%;
  }
  
  .SubmitButton {
      width: 30%;
      padding-top: 2%;
      padding-bottom: 2%;
      border-radius: 10px;
      font-family: calibri;
      font-weight: bold;
      font-size: 100%;
      color: white;
      background-color: black;
      margin-left: 25%;
  }
  
  h5 a{
    width: 100%;
    text-decoration: none;
    font-family: 'Bonheur Royale', cursive;
    font-size: 3vw;
    color: black;
  }
  
  .burger{
    display: none;
    cursor: pointer;
  }
  
  .burger div{
    width: 3vw;
    height: 0.5vw;
    margin: 0.3vw;
    background-color: black;
    transition: all 0.3 ease;
  }
  
  .name_container{
    position: absolute;
    letter-spacing: 2px;
    margin-left:50%;
    margin-top: 20vh;
    transform: translateX(-50%);
    float: left;
  }
  
  .name_container p:nth-child(1){
    font-size: 3vw;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Apple Chancery, cursive;
  }
  
  .name_container p:nth-child(2){
    font-size: 5vw;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
  }
  
  .name_container p:nth-child(3){
    font-size: 2vw;
    letter-spacing: 2px;
    font-family: myriad pro regular;
  }
  
  .down_cv{
    width: 130px;
    height: 60px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px ;
    color: white;
    background-color: black;
  }
  
  .down_cv a{
    text-decoration: none;
    color: white;
  }
  
  footer{
     position: absolute;
     bottom:0;
     width:100%;
     height:6%;
     background-color: black;
  }
  
  .bottom_bar{
    height: 100vh;
    width: 100%;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
  
  .bottom_bar a{
    display: inline-block;
    margin: 0 10px;
  }
  
  .bottom_bar a i{
      color: white;
      margin-bottom: 0;
      margin-top: 1vh;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 2vw;
  }
  
  .bottom_bar a i:hover{
    transform: scale(1.01);
    color: blue;
  }
  
  .datetime{
    color: white;
    margin-top: 2px;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 50%;
  }
  
  .date{
    font-size: 1vw;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .time{
    font-size: 1vw;
    justify-content: center;
    align-items: center;
  }
  
  #hour{
    position: relative;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    }
  
  #minutes{
    position: relative;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    }
  
  #seconds{
    position: relative;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    }
  
  #period{
     font-size: 0.5vw;
     font-weight: bold;
     text-transform: uppercase;
     margin-top: 5px;
     border-radius: 3px;
  }
  
  #contact h3{
    width: 100%;
    text-align: center;
    position: relative;
    color:black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Righteous', cursive;
  }
  
  #contact h3::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: black;
  }
  
  .max-width{
    width: 100%;
  }
  
  #contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding-top: 60px;
  }
  #contact .contact-content .left{
    width: 100%;
  }
  
  #contact .contact-content .contact1{
    height: 100%;
    width: 100%;
    padding-top: 5%;
  }
  
  #contact .contact-content .column{
    width: 80%;
  }
  #contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  #contact .contact-content .left p{
    text-align: justify;
  }
  
  #contact .contact-content .left .icons{
    margin: 10px 0;
  }
  
  #contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
  }
  
  #contact .contact-content .row .info{
    margin-left: 30px; 
  }
  
  #contact .contact-content .row i{
    font-size: 25px;
  }
  
  #contact .contact-content .info .head{
    font-weight: 500;
  }
  
  #contact .contact-content .info .sub-title{
    color: #333;
  }
  
  .header_7 .text{
    padding-left: 20%;
  }

  .collapsible {
    background-color: #929292;
    color:white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .collapsible:after {
    content: attr(data-button-icon);
    float: right;
    padding-left: 1em;
  }
  
  .active {
    background-color: #ccc;
    margin-bottom: 0px;
  }

  .collapsible:hover{
    background-color: #ccc;
  }
  
  .content_collapsebar {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #929292;
    margin-top: 0px;
    margin-bottom: 10px;
    color:snow;
  }

  .heading{
    margin-bottom: 10px;
    font-weight: bold;
  }

  .nested{
    padding-left: 3%;
    padding-top: 1%;
    font-weight: normal;
  }

  .nested li{
    padding-top: 1%;
  }

  .edu_content {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    align-items: center;
  }

  .edu_image1{
    width: 25%;
  }

  .edu_image1 a img{
    width: 100%;
    height: auto;
  }
  
  .edu_paragraph {
    font-size: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .edu_content1 {
    padding: 20px;
    width: 75%;
  }
  
  .edu_title {
    font-size: 150%;
    color: #222;
    line-height: 24px;
  }
  
  @media screen and (max-width: 768px){
    body{
      overflow-x: hidden;
    }
  
    .navbar{
      position: absolute;
      right: 0px;
      top: 10vh;
      height: 92vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  
    .navbar li{
      opacity: 0;
    }
  
    .burger{
      display: block;
    }
   
   .navbar-active{
     transform: translateX(0%);
   }
  
   .navbar-active li{
     opacity: 100;
   }
  
   .toggle .line1{
          transform: translate(-10%,150%) rotate(-45deg);
      }
  
    .toggle .line2{
          opacity: 0;
      }
  
    .toggle .line3{
          transform: translate(-10%,-150%) rotate(45deg);
      }
  
    #home{
      padding-top: 0;
    }
  
    #home img{
      border-radius: 50%;
      margin-left: 50%;
      transform: translatex(-50%);
      margin-top: 10vh;
    }
  
    .name_container{
      margin-top: 28vh;
    }
  
    #about{
      padding: 40px;
    }
  
    .about_content{
      flex-direction: column;
      margin-top: 0px;
    }
  
    .about_content .textbx{
      min-width: 100%;
      width: 90%;
      margin-bottom: 7%;
    }
  
    .about_content .imgbx{
      max-width: 100%;
      margin-left: 1%;
      margin-bottom: 5%;
    }
  
    .bottom_bar{
      display: block;
    }
    .datetime{
      margin-top: 10px;
      margin-left: 20%;
    }
  
    .bottom_bar a i{
      font-size: 70%;
    }
  
    .date{
      font-size: 60%;
    }
    .time{
      font-size: 60%;
    }
    #period{
      font-size: 60%;
    }
  
    #contact{
      overflow: auto;
      padding: 0;
      padding-top: 60px;
    }
  
    #contact h3{
      font-size: 1.5em;
    }
  
    #contact .contact-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 87%;
    overflow-x: hidden;
    overflow-y: auto;
    }
  
    #contact .contact-content .left{
    margin-left: 20%;
    }
  
    #contact .contact-content .row i {
      font-size: 20px;
  }
  
  #contact .contact-content .row .info {
      margin-left: 10px;
  }
  
  #contact .contact-content .info .head {
      font-size: 15px;
  }
  
  #contact .contact-content .info .sub-title {
      color: #333;
      font-size: 13px;
  }
  
  .contacttable {
      width: 100%;
      height: 78%;
  }
  
  #contact .contact-content .contact1{
    padding-top: 0;
  }
  
  }